<h2>Open Job Listings</h2>
<div class="dashboard">
    {{#each jobs as |job|}}
<div class="jobPost">
    <div class="jobTitle">
       <a href="/api/jobs/{{job.id}}"><h3>{{job.job_title}}</h3></a>
    </div>
    <div class="jobSalary">
        <p>Salary: {{job.salary}}</p>
    </div>
    <div class="jobDescription">
        <p>Description: {{job.description_text}}</p>
    </div>
    <div class="jobRequirements">
        <p>Requirements: {{job.requirements_text}}</p>
    </div>
    <a href="/api/jobs/{{job.id}}/application"><button class="btn applyBtn">Apply</button></a>
    <br>
</div>
    {{/each}}
</div>

<script src="/public/js/search.js"></script>