<h1>{{job.job_title}}</h1>

<a href="/api/jobs/{{job.id}}/application"><button class="btn" id="">Apply</button></a>

<section class="card">
    <h2>Job Details</h2>
    <p><strong>Job Title:</strong> {{ job.job_title }}</p>
    <p><strong>Salary:</strong> {{ job.salary }}</p>
    <p><strong>Description:</strong> {{ job.description_text }}</p>
    <p><strong>Requirements:</strong> {{ job.requirements_text }}</p>
</section>

<section class="card">
    <h2>Job Reviews</h2>
    <a href="/api/jobs/{{job.id}}/reviews/create"><button class="btn" id="createReviewBtn">Create a Review</button></a>
    {{#if job}}
        {{#each job.reviews as |review|}}
            <section>
                <h3>{{review.user.first_name}} {{review.user.last_name}}</h3>
            </section>
            <section>
                <p>Rating: {{review.review_rating}}</p>
            </section>
            <section>
                <p>{{review.review_text}}</p>
            </section>
        {{/each}}
    {{else}}
        <p>No reviews available for this job.</p>
    {{/if}}
</section>
