<div class="profile card">
  <h1>{{user.name}}'s Profile</h1>
  <p>{{user.bio}}</p>
  <ul>
    <li>
      <strong>Skills:</strong>
      {{#each user.skills}}
        <span>{{this}}</span>
      {{/each}}
    </li>
    <li>
      <strong>Experience:</strong>
      {{#each user.experience}}
        <div>
          <h2>{{this.company}}</h2>
          <p>{{this.jobTitle}}</p>
          <p>{{this.location}}</p>
          <p>{{this.duration}}</p>
        </div>
      {{/each}}
    </li>
    <li>
      <strong>Education:</strong>
      {{#each user.education}}
        <div>
          <h2>{{this.institution}}</h2>
          <p>{{this.degree}}</p>
          <p>{{this.fieldOfStudy}}</p>
          <p>{{this.graduationDate}}</p>
        </div>
      {{/each}}
    </li>
  </ul>
</div>
